<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hynn's Signin</title>
</head>
<body>
    {%if token %}{{token}} , Welcome to the World!
    <a href="/user/logout">Sign-out</a>
    {% else %}
    <a href="/user/login">Sign-in</a>
    {% endif %}
    <a href="/user/login">New Account</a>
    
    
    <br />
    <a href="/board/list">Move to Board</a>
</body>
</html>